<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" >
<!-- <groups>
  <run>
    <exclude name="locallink"></exclude>
  </run>
</groups> -->
<!-- <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners> -->

  <test name="FirefoxTest">
  <!-- <parameter name="browser" value="firefox"/> -->
 
    <classes>
     <class name="TestVagrant.Hotels.SignInTest2"/>
	 <class name="TestVagrant.Hotels.FlightBookingTest2"/>
	   <class name="TestVagrant.Hotels.HotelBookingTest2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
